{{! stache!test/jasmine/efiTestTemplate }}
{{#calculateAmount}}
    <a href="https://unidocu.unipost.co.kr/xwiki/bin/view/Main/unidocu4/feature#HC804D45CC0DDC131D654BA74AE08C561ACC4C0B0B85CC9C1" target="_blank">xwiki</a>
    <div>
        <div id="calculateAmount-descriptions"></div>
        <div>
            <div id="calculateAmount-controls" class="unidocu-form-table-wrapper"></div>
            <div id="calculateAmount-buttons" class="btn_area uni-form-table-button-area"></div>
        </div>
        <div id="contents">
            <div id="form1" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>
            <div id="unidocu-grid" class="unidocu-grid" data-sub-id="GRIDHEADER" style="margin-top:10px;height: 200px;"></div>
        </div>
    </div>
{{/calculateAmount}}