{{! stache!test/jasmine/unidocuViewSpecDescription }}
{{#KD_0202_001Spec}}
<pre>
관련 일감

    #6165 kyoungdong UD_0202_001 customAfterMultiCellChange customHandler 처리
    #6156 kyoungdong UD_0202_011 유류비 계산 교통비인경우 금액이 항상 0으로 설정됨.
    #6135 kyoungdong UD_0202_011 전기일 변경시 증빙일 변경 교통비 계산 로직 제거. 비용항목별 증빙일 적용 ZBLDAT
    #6122 kyoungdong UD_0202_011 전기일 변경시 증빙일 변경됨. 교통비 계산 로직 적용.
    #6121 kyoungdong UD_0202_011 createStatement button handler 확인. 없다고 출력됨.
    #6087 kyoungdong UD_0202_011 유류비 계산 적용.

    전표생성 RFC ZUNIEFI_5000
    ZGAS F4 사용

    * 교통비 계산 로직
    *
    * 행추가
    * 교통수단 값에 따른 필드 제어

    * 킬로당 금액(ZAMTPERKM)
    * ZGAS F4 추가 필드로 출력 ZAMTPERKM
    * ZBLDAT 값이 변경 되면 갱신
    * 유종(ZGAS), 거리(ZDIST), 통행료(ZTOLL) 변경시 금액 계산
    * 엑셀 업로드, block paste 이벤트시 금액 계산로직 추가

    * 교통 수단(ZTRANSPO) 값에 따른 필드 제어
    * ** webdata code: 자가 1, 대중교통 2
    * *** 자가 [1]
    * **** 유종(ZGAS), 거리(ZDIST), 통행료(ZTOLL) 필수 입력
    * **** WRBTR 자동 계산 수정 불가
    * *** 대중교통 [2]
    * **** 유종(ZGAS), 거리(ZDIST), 통행료(ZTOLL), 킬로당 금액(ZAMTPERKM) 수정 불가, 초기화
    * **** WRBTR 수정 가능

    * 자가인 경우 계산 금액으로 설정
    * (킬로당 금액(ZAMTPERKM) * 거리(ZDIST)) + 통행료(ZTOLL)
    * 대중 교통인 경우 수행하지 않음.
</pre>
{{/KD_0202_001Spec}}