{{! stache!uni-e-approval/mustache/embedStatementZUNIEFI_4207Template }}
<style>
    /* @formatter:off */
    #header-invoicer-content { margin-top: 10px }
    /* @formatter:on */
</style>
<div data-field-description="embedStatementZUNIEFI_4208_RequestTemplate">
    <h3 style="text-align: right; margin-top: 10px;">{{{그룹번호}}}: {{os_head.GRONO}}</h3>
    <div id="header-invoicer-content" class="unidocu-form-table-wrapper"></div>
    <div id="unidocu-grid" class="unidocu-grid" data-sub-id="GRIDHEADER" style="margin-top: 10px;"></div>
</div>