{{!stache!uni-e-approval/mustache/modifyApprovalDialogTemplate}}
<div id="modify-approval-dialog">
    <!--suppress HtmlUnknownTag, CssUnusedSymbol -->
    <style>
        #modify-approval-dialog { text-align: left; }
        #modify-approval-dialog #unidocu-td-SearchCondition { min-width: 50px;}
        #modify-approval-dialog #org-tree { height: 700px;}
        #modify-approval-dialog #org-tree-wrapper { padding-top: 10px; width: 300px; display: inline-block; }
        #modify-approval-dialog #org-tree-wrapper .unidocu-search {width: 50px;}
        #modify-approval-dialog #uni-approval-line-grid-wrapper { display: inline-block; width: 650px; vertical-align: top; }
        #modify-approval-dialog #uni-approval-line-grid-wrapper .btn_area { width: 130px; vertical-align: top; padding-left: 10px; display: inline-block;}
        #modify-approval-dialog #uni-approval-line-grid-wrapper .btn_area .unidocu-button { margin-bottom: 3px; display: block; width: 115px; text-align: left;}
        #modify-approval-dialog #uni-approval-line-grid-wrapper .unidocu-grid {height: 250px; border-bottom: 1px solid #ddd;}
        #modify-approval-dialog #uni-approval-line-grid-wrapper .modify-approval-dialog-grid-wrapper {display: block; width: 535px; margin-left: 140px; margin-top: -30px;}
        #modify-approval-dialog #uni-approval-line-grid-wrapper .btn_area .unidocu-button {
            margin-top: 10px;
            display: block;
            width: 121px;
            text-align: left;
            top: 7px;
        }
    </style>
    <div id="approval-dialog-form-table" class="unidocu-form-table-wrapper" data-sub-group="UD_7010_011"></div>
    <div id="approval-dialog-form-table2" class="unidocu-form-table-wrapper" data-sub-group="UD_7010_011"></div>
    <div id="org-tree-wrapper">
        <div id="org-tree"></div>
    </div>
    <div id="uni-approval-line-grid-wrapper">
        <div id="wf-line-1" class="wf-line">
            <div class="btn_area uni-form-table-button-area" id="uni-approval-line-buttons1" data-sub-group="UD_7010_011"></div>
            <div class="modify-approval-dialog-grid-wrapper"><div id="approval-line-grid1" class="unidocu-grid" data-sub-group="UD_7010_011" data-sub-id="GRIDHEADER3"></div></div>
        </div>
        <div id="wf-line-2" class="wf-line">
            <div class="btn_area uni-form-table-button-area" id="uni-approval-line-buttons2" data-sub-group="UD_7010_011"></div>
            <div class="modify-approval-dialog-grid-wrapper"><div id="approval-line-grid2" class="unidocu-grid" data-sub-group="UD_7010_011" data-sub-id="GRIDHEADER3"></div></div>
        </div>
        <div id="wf-line-3" class="wf-line">
            <div class="btn_area uni-form-table-button-area" id="uni-approval-line-buttons3" data-sub-group="UD_7010_011"></div>
            <div class="modify-approval-dialog-grid-wrapper"><div id="approval-line-grid3" class="unidocu-grid" data-sub-group="UD_7010_011" data-sub-id="GRIDHEADER3"></div></div>
        </div>
        <div id="wf-line-4" class="wf-line">
            <div class="btn_area uni-form-table-button-area" id="uni-approval-line-buttons4" data-sub-group="UD_7010_011"></div>
            <div class="modify-approval-dialog-grid-wrapper"><div id="approval-line-grid4" class="unidocu-grid" data-sub-group="UD_7010_011" data-sub-id="GRIDHEADER3"></div></div>
        </div>
    </div>
</div>