<div id="car-info-buttons" class="btn_area uni-form-table-button-area position-page_title"></div>
<div id="car-info-table1" class="unidocu-form-table-wrapper" style="margin-top: 5px;"></div>
<div id="car-info-table2" class="unidocu-form-table-wrapper" style="margin-top: 5px;"></div>
<div id="car-info-description" style="margin-top: 5px;">
    <p style="font-weight: bold;">* 유의사항</p>
    <p>1. 회사차량 및 렌트차량은 임직원 및 법인과 계약관계에 있는 업체의 소속 임직원만 운전하여야 합니다.</p>
    <p>2. 업무용 승용차 관련 비용은 차량비관리시스템을 통해서만 처리 가능합니다.</p>
    <p style="color: red;">3. 하이패스카드의 충전한도는 1회당 10만원까지 입니다.(단, 임원 및 공용차량은 제외)</p>
    <p>4. 차량일지의 입력은 일 단위로 가능합니다.(권장:주1회 이상, 의무 : 월 단위)</p>
    <p>5. 스마트폰 거치대, 방향제, 쿠션 등 일체의 차량소모품은 회사비용으로 처리할 수 없습니다.</p>
    <p>6. 손금불산입 금액은 개인의 소득세로 과세 될 수 있습니다.</p><br/>
    <p style="font-weight: bold">* 연비 절감 8계명</p>
    <p>1. 운전 습관을 바꾸세요.(급출발, 급제동, 급추월 금지)</p>
    <p>2. 필요없는 짐을 내려 놓으세요.</p>
    <p>3. 기름을 가득 채우지 마세요.(주유탱크 용량보다 10% 적게 주유 권장)</p>
    <p>4. 주행시 RPM은 2500RPM을 넘지 마세요.</p>
    <p>5. 적정한 타이어 공기압을 유지하세요.</p>
    <p>6. 여름엔 창문 대신 에어컨을 트세요.</p>
    <p>7. D-Drive에서 N-Neutral로 운행하지 마세요.</p>
    <p>8. 하루 중 온도가 가장 낮은 시간에 주유하세요.</p>
</div>