.sk-demo .count-box .dashboard-title {background-color: #ea002c;}
.sk-demo #main-2018 #login-button {background-color: #ea002c;}
.sk-demo #main-2018 .login-page-middle-background {  background-color: #fff; }