{{! vendorCustom/magnachip/mustache/embedStatementZUNIEFI_4207Template }}
<div class="unidocu-approval-contents">
    <style>
        .unidocu-approval-contents {
            min-width: 730px;
            font-size: 12px;
        }
        .unidocu-approval-contents table {
            border-collapse: collapse;
            width: 100%;
        }
        .unidocu-approval-contents table td,
        .unidocu-approval-contents table th {
            font-size: 12px;
            border: 1px solid #ccc;
            word-break: break-all;
            text-align: center;
            height: 20px;
            background-color: #ffffff;
            padding: 3px;
        }
        .unidocu-approval-contents table th {
            background-color: #eee;
        }
        .unidocu-approval-contents .statement-evidence-link {
            width: 17px;
            height: 16px;
            display: inline-block;
            vertical-align: bottom;
            cursor: pointer;
            margin-left: 5px;
            background-image: url(data:image/gif;base64,R0lGODlhEQAQALMAANvb29PT0/z8/GppaePj4+jo6PX19eXl5erq6uvr63h4ePf39+Hh4bS0tP///wAAACH5BAAAAAAALAAAAAARABAAAARpUJjCqr2sGAma/+AHTE3gnGjqBA3VnEssy2dTvbKiz4tjM7iFIjfz3RzC2DAZMwIdCUU0QZVSna+pdXr9vRAIBTg8RmAdY51YBz4f3vDDQHc4Owj4PEFXy5RUgCwaHSGFDSMSFBgYGgIRADs=);
        }
        .unidocu-approval-contents .statement-url-link {
            width: 17px;
            height: 16px;
            display: inline-block;
            vertical-align: bottom;
            cursor: pointer;
            margin-left: 5px;
            background-image: url(data:image/gif;base64,R0lGODlhEQAQALMAANvb29PT0/z8/GppaePj4+jo6PX19eXl5erq6uvr63h4ePf39+Hh4bS0tP///wAAACH5BAAAAAAALAAAAAARABAAAARpUJjCqr2sGAma/+AHTE3gnGjqBA3VnEssy2dTvbKiz4tjM7iFIjfz3RzC2DAZMwIdCUU0QZVSna+pdXr9vRAIBTg8RmAdY51YBz4f3vDDQHc4Owj4PEFXy5RUgCwaHSGFDSMSFBgYGgIRADs=);
        }
    </style>
    {{#ot_data1}}
        {{#URL}}
            <div style="font-weight: bold;text-align: right;margin-top: 10px; float: right; margin-left:20px">
                <!-- data-xxxx 대문자로 입력 하더라도 $(selector).data() 소문자로 출력 됨 -->
                {{{증빙조회}}} <span class="statement-evidence-link" data-belnr="{{BELNR}}" data-doknr="{{BELNR}}" data-gjahr="{{GJAHR}}" data-bukrs="{{BUKRS}}"></span>
            </div>
            <div style="font-weight: bold;text-align: right;margin-top: 10px; float: right;" class="statement-url">
                {{{품의조회}}} <span class="statement-url-link" data-belnr="{{BELNR}}" data-doknr="{{BELNR}}" data-gjahr="{{GJAHR}}" data-bukrs="{{BUKRS}}"></span>
            </div>

        {{/URL}}
        {{^URL}}
            <div style="margin-top: 35px;"></div>
        {{/URL}}
        <table id="header" style="margin-top: 10px; table-layout: fixed; word-wrap: break-word">
            <tr style="text-align: center">
                <th style="display: none" id="GRONO">{{{GRONO}}}</th>
                <th style="width: 11%">{{{전표번호}}}</th>
                <th style="width: 13%">{{{전표유형}}}</th>
                <th style="width: 10%">{{{전기일}}}</th>
                <th style="width: 10%">{{{증빙일}}}</th>
                <th style="width: 35%">{{{헤더텍스트}}}</th>
                <th style="width: 8%">{{{전표통화}}}</th>
                <th style="width: 10%">{{{환율}}}</th>
            </tr>
            <tr>
                <td data-test="1234" style="text-align: center" data-field-description="BELNR" class="BELNR"><a>{{BELNR}}</a></td>
                <td data-field-description="FLAG" class="FLAG" style="display: none" >{{FLAG}}</td>
                <td style="text-align: center" data-field-description="BLART_TXT">{{BLART_TXT}}</td>
                <td style="text-align: center" data-field-description="BUDAT">{{BUDAT}}</td>
                <td style="text-align: center" data-field-description="BLDAT">{{BLDAT}}</td>
                <td style="display: none" data-field-description="FLAG1" id={{BELNR}}>{{FLAG1}}</td>
                <td data-field-description="BKTXT" class="ellipsis"><span>{{BKTXT}}</span></td>
                <td style="text-align: center" data-field-description="WAERS">{{WAERS}}</td>
                <td style="text-align: center;" data-field-description="KURSF">{{KURSF}}</span></td>
            </tr>
        </table>
        <table id="contents" style="table-layout: fixed; margin-top: 10px;">
            <tr>
                <th rowspan="2" style="width: 4%;"><p>{{{순 번}}}</p></th>
                <th style="width: 20%;">{{{계정과목}}}</th>
                <th style="width: 20%;">{{{거래처}}}</th>
                <th style="width: 12%;">{{{거래처코드}}}</th>
                <th style="width: 12%;">Assignment</th>
                <th style="width: 10%;">{{{차변}}}(LC)</th>
                <th style="width: 10%;">{{{대변}}}(LC)</th>
            </tr>
            <tr>
                <th>CC/IO</th>
                <th>{{{세금코드}}}</th>
                <th colspan="2">{{{적요}}}</th>
                <th>{{{차변}}}(TC)</th>
                <th>{{{대변}}}(TC)</th>
            </tr>
            {{#ot_data2}}
                <tr><!--순번~대변(LC)-->
                    <td rowspan="2" style="text-align: center" data-field-description="BUZEI COM_EXP">{{BUZEI}}<br>{{COM_EXP}}</td>
                    <td data-field-description="HKONT_TXT">{{HKONT_TXT}}</td>
                    <td data-field-description="LIFNR_TXT">{{LIFNR_TXT}}</td>
                    <td data-field-description="LIFNR">{{LIFNR}}</td>
                    <td data-field-description="ZUONR">{{ZUONR}}</td>
                    <td data-field-description="ot_data2.DMBTR_S_TXT ot_data2.WRBTR_S_TXT" rowspan="2" style="text-align: right">{{DMBTR_S_TXT}}<br>{{WRBTR_S_TXT}}</td>
                    <td data-field-description="ot_data2.DMBTR_H_TXT ot_data2.WRBTR_H_TXT" rowspan="2" style="text-align: right">{{DMBTR_H_TXT}}<br>{{WRBTR_H_TXT}}</td>
                </tr>
                <tr><!--CC/IO/WBS~대변(TC)-->
                    <td data-field-description="KOSTL_TXT2 KOSTL_TXT3">{{KOSTL_TXT2}}<br>{{KOSTL_TXT3}}</td>
                    <td data-field-description="MWSKZ_TXT">{{MWSKZ_TXT}}</td>
                    <td colspan="2" data-field-description="SGTXT">{{SGTXT}}</td>
                </tr>
            {{/ot_data2}}
            <tr>
                <td rowspan="2" colspan="3" style="text-align: center;height: 40px">{{{소계}}}</td>
                <td  colspan="2" data-field-description="ot_data1.LWAERS">{{LWAERS}}</td>
                <td data-field-description="ot_data1.DMBTR_S_TXT" style="text-align: right;">{{DMBTR_S_TXT}}</td>
                <td data-field-description="ot_data1.DMBTR_H_TXT" style="text-align: right;">{{DMBTR_H_TXT}}</td>
            </tr>
            <tr>
                <td colspan="2" data-field-description="ot_data1.WAERS">{{WAERS}}</td>
                <td data-field-description="ot_data1.WRBTR_S_TXT" style="text-align: right;">{{WRBTR_S_TXT}}</td>
                <td data-field-description="ot_data1.WRBTR_H_TXT" style="text-align: right;">{{WRBTR_H_TXT}}</td>
            </tr>
        </table>
    {{/ot_data1}}
    <table id="footer" style="margin-top: 10px">
        <tr>
            <td style="width: 505px; height: 40px">{{{총계}}}</td>
            <td data-field-description="os_head.WAERS" style="width: 275px">{{os_head.WAERS}}</td>
            <td data-field-description="os_head.TOTAL_TXT" style="width: 111px; text-align: right;">{{os_head.TOTAL_TXT}}</td>
            <td data-field-description="os_head.TOTAL_TXT" style="width: 111px; text-align: right;">{{os_head.TOTAL_TXT}}</td>
        </tr>
    </table>
</div>