{{! vendorCustom/magnachip/mustache/UD_0201_001}}
<div class="btn_area uni-form-table-button-area position-page_title" id="uni-buttons" ></div>
<div id="statement-information-content" class="unidocu-form-table-wrapper"></div>
<div id="vendor-info" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>
<div id="file-attach-wrapper"><div id="file-attach-content"></div></div>
