{{! stache!vendorCustom/keyfoundry/mustache/amountDisplayWrapper}}
<style>
    #amount-display {display: inline-block; vertical-align: bottom;}
    #amount-display td { width: 100px !important; min-width: 100px !important; }
    #amount-display input { color: green; font-weight: bold;}
    .right-td {text-align: right;}

    #amount-display th {border-left: 1px solid #ddd !important;}
    #amount-display th,
    #amount-display td { border-bottom: none !important; }

</style>
<table id="approvalDbData-panel-toolbar">
    <tr>
        <td class="middle-td">
            <div class="btn_area uni-form-table-button-area" id="approvalDbData_top_buttons"></div>
        </td>
    </tr>
</table>
<div id="approvalDbData" class="unidocu-grid" data-sub-id="approvalDbDataGrid" style="height: 200px; margin-top: 10px;"></div>

<table id="unidocu-grid-panel-toolbar">
    <tr>
        <td class="middle-td">
            <div class="btn_area uni-form-table-button-area" id="uni-grid_top_buttons"></div>
        </td>
        <td class="right-td">
            <div id="amount-display" class="unidocu-form-table-wrapper"></div>
        </td>
    </tr>
</table>
<div id="unidocu-grid" class="unidocu-grid" data-sub-id="GRIDHEADER" style="margin-top:10px;"></div>