{{! stache!uni-e-fi/view/FI_0001 }}
<style>
     #amount-display {display: inline-block; line-height: 50px;}
    #uni-buttons3 {float: left; display: inline-block; width: 300px;}
    #unidocu-grid2-panel-toolbar {text-align: right;}
</style>
<div id="uni-buttons" class="btn_area uni-form-table-button-area position-page_title" ></div>
<div id="form1" class="unidocu-form-table-wrapper"></div>
<div id="form2" class="unidocu-form-table-wrapper"  style="margin-top:10px;"></div>


<div id="unidocu-grid-panel-toolbar">
    <div class="btn_area uni-form-table-button-area" id="uni-buttons2"></div>
</div>
<div id="unidocu-grid" class="unidocu-grid" data-sub-id="GRIDHEADER" style="margin-top: 10px; height: 210px;"></div>


<div id="unidocu-grid2-panel-toolbar">
    <div class="btn_area uni-form-table-button-area" id="uni-buttons3"></div>
    <div id="amount-display"></div>
</div>

<div id="unidocu-grid2" class="unidocu-grid" data-sub-id="GRIDHEADER2" style="margin-top: 10px; height: 300px;"></div>
<div id="file-attach-content" style="margin-top: 10px;"></div>