{{! stache!uni-e-fi/view/UD_0204_001 }}
<!--suppress CssUnusedSymbol -->
<style>
    /* @formatter:off */
    .td-50-percent { width: 50%; }
    .td-65-percent { width: 65%; }
    .td-35-percent { width: 35%; }
    #unidocu-grid2 { height: 120px; margin-top: 10px; }
    #uni-grid3_buttons { padding: 0 10px !important; }
    #unidocu-grid3 { height: 120px; margin-top: 10px; }
    #evidence-statement-condition { margin-top: 10px }
    #statement-information-content { margin-top: 10px }
    #header-invoicer-content { margin-top: 10px }
    /* @formatter:on */
</style>
<div class="btn_area uni-form-table-button-area position-page_title" id="uni-buttons"></div>

<table>
    <tr>
        <td class="td-50-percent" style="width: 60%">
            <div id="search-condition" class="unidocu-form-table-wrapper"></div>
            <div id="search-condition-panel-append">
                <div id="unidocu-grid2" class="unidocu-grid unidocu-grid-tree" data-sub-id="GRIDHEADER2"></div>
            </div>
        </td>
        <td style="padding: 5px;"></td>
        <td class="td-50-percent" style="vertical-align: top">
            <div id="select-condition" class="unidocu-form-table-wrapper"></div>
            <div class="btn_area uni-form-table-button-area" id="uni-grid3_buttons"></div>
            <div id="select-condition-panel-append">
                <div id="unidocu-grid3" class="unidocu-grid" data-sub-id="GRIDHEADER3"></div>
            </div>
        </td>
    </tr>
</table>

<div id="statement-wrapper">
    <div id="evidence-statement-condition" class="unidocu-form-table-wrapper"></div>
    <div id="statement-information-content" class="unidocu-form-table-wrapper"></div>
</div>

<div id="header-invoicer-content" class="unidocu-form-table-wrapper"></div>

<div id="file-attach-wrapper">
    <div id="file-attach-content"></div>
</div>