{{! stache!uni-e-fi/view/UD_0210_001}}
<style>
    #amount-display2 { display: inline-block; float:right;}
    #amount-display2 th {border-left: 1px solid #ddd !important;}
    #amount-display2 td { width: 100px !important; min-width: 100px !important; }
    #amount-display2 th,
    #amount-display2 td {border-bottom: none !important;}
    #amount-display2 input { color: green; font-weight: bold;}
</style>

<div class="btn_area uni-form-table-button-area position-page_title" id="uni-buttons" ></div>
<div id="search-condition" class="unidocu-form-table-wrapper"></div>

<div id="unidocu-grid-panel-toolbar">
    <div id="amount-display2" class="unidocu-form-table-wrapper"></div>
</div>

<div id="unidocu-grid" class="unidocu-grid unidocu-grid-tree" data-sub-id="GRIDHEADER2" style="margin-top:10px;"></div>

