{{! stache!uni-e-fi/view/UD_0208_001 }}
<div class="btn_area uni-form-table-button-area position-page_title" id="uni-buttons" ></div>
<div id="form-table-1" class="unidocu-form-table-wrapper"></div>
<div id="unidocu-grid2" class="unidocu-grid  unidocu-grid-tree" data-sub-id="GRIDHEADER2" style="height: 200px;margin-top: 10px;"></div>
<div id="form-table-2" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>

<div id="statement-kind-dependent-area">
    <div id="statement-information-content" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>
    <div id="vendor-info" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>
</div>

<div id="file-attach-wrapper">
    <div id="file-attach-content"></div>
</div>