{{! stache!uni-e-fi/view/UD_0205_000 }}
<div class="btn_area uni-form-table-button-area" id="uni-buttons" style="position: absolute; top: 50px;"></div>
<div id="statement-wrapper">
    <div id="statement-kind-wrapper" class="unidocu-form-table-wrapper"></div>
    <div id="statement-information-content" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>
</div>

<div id="vendor-info" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>

<div id="file-attach-wrapper"> <div id="file-attach-content"></div> </div>