{{! stache!uni-e-fi/view/UD_0220_013}}
<style>
    /* @formatter:off */
    #expenses_summary { margin-top: 10px }
    /* @formatter:on */
</style>
<div class="btn_area uni-form-table-button-area position-page_title" id="uni-buttons-top" ></div>
<div class="unidocu-form-table-wrapper" id="search-condition"></div>
<div id="expenses_summary" class="unidocu-form-table-wrapper vertical-form-table"></div>
<div id="unidocu-grid-panel-toolbar">
    <div class="btn_area uni-form-table-button-area" id="uni-buttons"></div>
</div>
<div id="unidocu-grid" class="unidocu-grid" data-sub-id="GRIDHEADER" style="margin-top: 10px;"></div>
