<div class="well">
    <div class="btn_area uni-form-table-button-area position-page_title" id="uni-buttons-top" ></div>
    <div id="search-condition" class="unidocu-form-table-wrapper"></div>
    <div id="unidocu-grid-panel-toolbar">
        <div class="btn_area uni-form-table-button-area" id="uni-buttons"></div>
    </div>
    <div id="unidocu-grid" class="unidocu-grid" data-sub-id="GRIDHEADER" style="height: 200px;margin-top:10px;"></div>
</div>