{{! stache!uni-e-fi/view/UD_0201_013 }}
<div class="btn_area uni-form-table-button-area position-page_title" id="uni-buttons" ></div>

<div id="statement-information">
    <div id="statement-information-content" class="unidocu-form-table-wrapper"></div>
    <div id="statement-information-content-evi" class="unidocu-form-table-wrapper"></div>
</div>

<div id="header-invoicer-content" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>
<div id="header-invoicer-content-2" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>

<table style="margin-top: 10px;">
    <tr>
        <td style="min-width: 345px; width: 345px; vertical-align: top;">
            <div id="xware_bnk_table" class="unidocu-form-table-wrapper"></div>
            <div id="search-condition" class="unidocu-form-table-wrapper" style="margin-top: 10px"></div>
            <div id="unidocu-grid2" class="unidocu-grid" data-sub-id="GRIDHEADER2" style="margin-top: 10px;"></div>
        </td>
        <td style="width: 10px;"></td>
        <td style="vertical-align: top;" id="amount-display-wrapper-td"></td>
    </tr>
</table>


