<div class="btn_area uni-form-table-button-area position-page_title" id="uni-buttons" ></div>

<div id="header-info" class="unidocu-form-table-wrapper"></div>
<div id="evidence-selection-condition" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>
<table style="margin-top: 10px;">
    <tr>
        <td style="width :50%; vertical-align: top;">
            <div id="debit-pre-conditions" class="unidocu-form-table-wrapper" ></div>
        </td>
        <td style="padding: 5px;"></td>
        <td style="width :50%; vertical-align: top;">
            <div id="credit-pre-conditions" class="unidocu-form-table-wrapper"></div>
        </td>
    </tr>
</table>
