{{! stache!uni-e-approval/view/DRAFT_0070 }}
<div class="btn_area uni-form-table-button-area position-page_title" id="uni-buttons-top" ></div>
<div class="unidocu-form-table-wrapper" id="search-condition"></div>
<div id="file-attach-wrapper"> <div id="file-attach-content"></div> </div>
<div id="unidocu-grid-panel-toolbar">
    <div class="btn_area uni-form-table-button-area" id="uni-buttons"></div>
</div>
<div id="unidocu-grid" class="unidocu-grid" data-sub-id="GRIDHEADER" style="margin-top: 10px;"></div>
