<div class="btn_area uni-form-table-button-area position-page_title" id="uni-buttons"></div>

<div id="DRAFT_0061-form" class="unidocu-form-table-wrapper"></div>
<div class="btn_area uni-form-table-button-area" id="uni-buttons2"></div>
<div id="DRAFT_0061-grid" class="unidocu-grid" data-sub-id="GRIDHEADER" style="height: 150px;"></div>
<div id="file-attach-wrapper"> <div id="file-attach-content"></div> </div>
<div class="btn_area uni-form-table-button-area" id="uni-buttons4"></div>
<div id="DRAFT_0061-grid3" class="unidocu-grid" data-sub-id="GRIDHEADER3" style="height: 300px;"></div>

<div class="btn_area uni-form-table-button-area" id="cloned-buttons"></div>