<div class="btn_area uni-form-table-button-area position-page_title" id="uni-buttons"></div>

<div id="uni-form-table2" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>
<div id="file-attach-content" style="margin-top: 10px;"></div>

<div class="btn_area uni-form-table-button-area" id="cloned-buttons"></div>