<div class="btn_area uni-form-table-button-area position-page_title" id="uni-buttons"></div>
<div id="uni-form-table5" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>

<div id="unidocu-grid-panel-toolbar">
    <div class="btn_area uni-form-table-button-area" id="uni-buttons-draft0012-buttons"></div>
</div>
<div id="unidocu-grid" class="unidocu-grid" data-sub-id="GRIDHEADER" style="height: 200px; margin-top: 10px;"></div>

<div id="unidocu-grid2-panel-toolbar">
    <div class="btn_area uni-form-table-button-area" id="uni-buttons-draft0012-buttons2"></div>
</div>
<div id="unidocu-grid2" class="unidocu-grid" data-sub-id="GRIDHEADER2" style="height: 200px; margin-top: 10px;"></div>

<div id="uni-form-table-draft0012-reason" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>

<div id="file-attach-content" style="margin-top: 10px;"></div>
<div class="btn_area uni-form-table-button-area" id="cloned-buttons"></div>