<!--suppress CssUnusedSymbol -->
<style>
    form#searchForm {width: 970px; margin: 0 auto;}
    h2.page_title.NGB {display:none;}
</style>
<div class="btn_area uni-form-table-button-area" id="uni-buttons"></div>
<div id="draft-wrapper">
    <p id="draft-title" style="text-align: center; font-size: 20px; font-weight: bold;margin-top:20px"></p>
    <div id="uni-form-table1" class="unidocu-form-table-wrapper" style="display: none;margin-top:20px"></div> <!-- 결재선 -->
    <div id="approval-line-wrapper" style="margin-top: 10px;"></div>
    <div id="uni-form-table5" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>
    <div id="document-reference-wf-org" style="margin-top: 10px;"></div> <!-- 의견/참조문서 -->
    <div id="embed-statement-area"></div>
    <div id="file-attach-content" style="margin-top: 10px;"></div>
</div>
<div class="btn_area uni-form-table-button-area" id="cloned-buttons"></div>