<style>
    #leftWrapper { width: 440px; float: left; }
    #rightWrapper { margin-left: 450px; height: 540px; }
</style>
<div id="leftWrapper">
    <div id="pos-tree" style="height: 500px;"></div>
    <div class="btn_area uni-form-table-button-area" id="uni-buttons"></div>
</div>
<div id="rightWrapper">
    <div id="job-info" class="unidocu-form-table-wrapper"></div>
    <div class="btn_area uni-form-table-button-area" id="uni-buttons-job"></div>
    <div class="btn_area uni-form-table-button-area" id="uni-buttons-job-insert"></div>
</div>