<style>
    #leftWrapper { width: 390px; float: left; }
    #rightWrapper { margin-left: 400px; height: 600px; }
    #uni-buttons button { margin-left: 5px; }
    #unipost-unidocu .unidocu-table .unidocu-th, #unipost-unidocu .unidocu-table .unidocu-td { height: 30px; }
</style>
<div id="leftWrapper">
    <div id="org-tree" style="height: 500px;"></div>
    <div class="btn_area uni-form-table-button-area" id="uni-buttons"></div>
</div>

<div id="rightWrapper">
    <div id="dept-info" class="unidocu-form-table-wrapper"></div>
    <div class="btn_area uni-form-table-button-area" id="uni-buttons-dept"></div>
    <div class="btn_area uni-form-table-button-area" id="uni-buttons-dept-insert"></div>
    <div id="user-info" class="unidocu-form-table-wrapper"></div>
    <div class="btn_area uni-form-table-button-area" id="uni-buttons-user"></div>
    <div class="btn_area uni-form-table-button-area" id="uni-buttons-user-insert"></div>
</div>