<div class="btn_area uni-form-table-button-area" id="uni-buttons"></div>
<div id="unidocu-grid" class="unidocu-grid" data-sub-id="GRIDHEADER"></div>
<div id="grid2Wrapper">
    <div class="btn_area uni-form-table-button-area" id="uni-buttons2"></div>
    <div id="unidocu-grid2" class="unidocu-grid" data-sub-id="GRIDHEADER2"></div>
</div>
<div id="grid3Wrapper">
    <div class="btn_area uni-form-table-button-area" id="uni-buttons3"></div>
    <div id="unidocu-grid3" class="unidocu-grid" data-sub-id="GRIDHEADER3"></div>
</div>
<div id="grid3DetailWrapper" style="display: none">
    <div class="btn_area uni-form-table-button-area" id="uni-buttons4"></div>
    <div id="uni-form-table" class="unidocu-form-table-wrapper"></div>
</div>