<div class="btn_area uni-form-table-button-area" id="uni-buttons"></div>
<div id="unidocu-grid" class="unidocu-grid" data-sub-id="GRIDHEADER" style="height: 300px;"></div>
<div id="search-condition" class="unidocu-form-table-wrapper" style="margin-top: 10px;"></div>
<div class="btn_area uni-form-table-button-area" id="uni-buttons2"></div>
<div id="unidocu-grid2" class="unidocu-grid" data-sub-id="GRIDHEADER2"></div>