<style>
    .unidocu-grid { height: 300px; }
</style>
<div class="btn_area">
    <button class="unidocu-button blue" id="addRow">{{{행추가}}}</button>
</div>
<div id="unidocu-grid" class="unidocu-grid" data-sub-id="GRIDHEADER"></div>
<div id="unidocu-grid2" class="unidocu-grid" data-sub-id="GRIDHEADER2" style="margin-top: 10px;"></div>