<div class="btn_area">
    <button class="unidocu-button" id="setValues">setValues</button>
    <button class="unidocu-button" id="setValues2">setValues2</button>
    <button class="unidocu-button" id="setReadOnlyTrue">setReadOnlyTrue</button>
    <button class="unidocu-button" id="setReadOnlyFalse">setReadOnlyFalse</button>
</div>
<div id="input-test-table-wrapper"></div>